@charset "UTF-8";

.youtube iframe {
  width: 480px;
  height: 270px;
}

@media screen and (max-width: 480px) {
  .youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: auto;
  }

  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
        margin: auto;

  }
}

.header>.subtitle>p {
  color: #ffffff;
  flex: none;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  height: 78px;
  line-height: 1.5;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .header>.subtitle>p {
    font-size: 24px;
    width: 100%;
    max-width: 100%;
  }
}

.header {
  align-content: center;
  align-items: center;
  background: #73c6b6;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 700px;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 750px) {
  .header {
    width: 100%;
    max-width: 100%;
  }
}

.logo-margin {
  margin: 20px;
}

.oshidori-logo {
  flex: none;
  height: auto;
  width: 353px;
  margin: auto;
  z-index: 0;
  pointer-events: all;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .oshidori-logo {
    max-width: 100%;
  }
}

.image-margin {
  padding: 15px 0px 15px 0px;
}

.oshidori-image {
  flex: none;
  height: auto;
  width: 200px;
  margin: auto;
  z-index: 0;
  pointer-events: all;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .oshidori-image {
    max-width: 100%;
  }
}

.appstore-logo {
  flex: none;
  height: auto;
  width: 160px;
  margin: auto;
  z-index: 0;
  pointer-events: all;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .appstore-logo {
    max-width: 100%;
  }
}

.other-site-link {
  z-index: 0;
  pointer-events: all;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .other-site-link {
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 73px;
    justify-content: center;
    margin: 0px 50px 0px 50px;
    width: calc(100% - 100px);
    max-width: calc(100% - 100px);
  }
}

.link-title {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  margin: 0px 0px 6px 0px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .link-title {
    font-size: 14px;
    height: auto;
    margin: 0px 0px 6px 0px;
    max-width: 100%;
  }
}

/* なんでも話し合いましょう、のところ*/
.couple-discription-title {
  padding: 20px;
}

@media screen and (max-width: 750px) {
  .couple-discription-title {
    padding: 10px;
  }
}

div.couple-discription-title>p {
  line-height: 1.4;
  font-weight: 700;
  font-size: 32px;
  color: #73c6b6;
  text-align: center;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  div.couple-discription-title>p {
    line-height: 1.4;
    font-weight: 700;
    font-size: 24px;
    color: #73c6b6;
    text-align: center;
  }
}

/* 説明のところ */
.couple-discription {
  padding: 20px 16px 20px 16px;
}

@media screen and (max-width: 750px) {
  .couple-discription {
    padding: 15px 10px 15px 10px;
  }
}

div.couple-discription>p {
  font-size: 20px;
  line-height: 2;
  text-align: center;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  div.couple-discription>p {
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
  }
}

/* アンケートの注意書き */
.data-annotation {
  padding: 5px 0px 5px 0px;
}

div.data-annotation>p {
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  div.data-annotation>p {
    font-size: 9px;
    line-height: 1.2;
    text-align: center;
  }
}

/* アプリの機能すべて、なんでも〜、すべて */
.common-container {
  padding: 25px 0px 25px 0px;
  min-width: calc(100% - 300px);
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .common-container {
    padding: 10px 0px 10px 0px;
    min-width: calc(100% - 100px);
  }
}

/* アプリの機能、とかのタイトル */
.category-title {
  font-size: 32px;
  text-align: center;
  margin: 32px 0px 32px 0px;
}

@media screen and (max-width: 750px) {
  .category-title {
    font-size: 20px;
    text-align: center;
    margin: 20px 0px 20px 0px;
  }
}

/*みどりわく*/
.function-container {
  align-content: center;
  border-bottom: solid 4px #73c6b6;
  border-left: solid 4px #73c6b6;
  border-right: solid 4px #73c6b6;
  border-top: solid 4px #73c6b6;
  border-radius: 15px;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 14px 20px 14px;
}

/* 機能のタイトル部分のコンテナ。 */
.function-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.function-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

/* パートナーとのやりとり */
.function-sub-title {
  font-size: 18px;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .function-sub-title {
    font-size: 14px;
  }
}

/* メッセージ機能 */
.function-main-title {
  font-size: 24px;
  font-weight: 700;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .function-main-title {
    font-size: 18px;
    font-weight: 700;
  }
}

.function-number-container {
  align-content: center;
  align-items: center;
  background: #73c6b6;
  border-radius: 50%;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  justify-content: center;
  width: 50px;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .function-number-container {
    align-content: center;
    align-items: center;
    background: #73c6b6;
    border-radius: 50%;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 30px;
    justify-content: center;
    width: 30px;
  }
}

/* 番号のところ */
.function-number-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .function-number-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
  }
}

/* まるのなかの数字 */
.function-number {
  color: #ffffff;
  font-family: Lato;
  font-size: 28px;
  font-weight: 900;
  height: auto;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .function-number {
    color: #ffffff;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    height: auto;
    text-align: center;
    width: auto;
    max-width: 100%;
    justify-content: center;
  }
}

/* 機能の説明と画像のcontainer */
/* スマホ用 */
.function-second-container {
  display: flex;
  flex-direction: column-reverse;
  /*縦*/
  align-items: center;
  padding: 10px 0px 10px 0px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* 480px以上はPC用レイアウト */
@media screen and (min-width: 750px) {

  /* むむ、これだけminになっちゃっとる…*/
  .function-second-container {
    display: flex;
    flex-direction: row;
    /* 横 */
    align-items: center;
    padding: 20px 0px 30px 0px;
    justify-content: space-between;
  }
}

/* アプリの細かい説明のところ、pタグ */
.discription {
  font-size: 20px;
  line-height: 1.8;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .discription {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.screenshot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100% - 50px);
  width: 315px;
  margin: 10px 0px 10px 0px;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  .screenshot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: calc(100% - 20px);
    width: 150px;
    margin: 10px 0px 10px 0px;
  }
}

.screenshot {
  border: solid 1px #434645;
  border-radius: 5px;
  height: auto;
  width: 222px;
  max-width: 100%;
}

/* appstoreのボタン */
.app-store-container {
  text-align: center;
  /* ここから！ */
}

div.app-store-container>img {
  height: auto;
  width: 205px;
  max-width: 100%;
}

/*制作者のところの緑枠*/
.developer-container {
  align-content: center;
  border-bottom: solid 4px #73c6b6;
  border-left: solid 4px #73c6b6;
  border-right: solid 4px #73c6b6;
  border-top: solid 4px #73c6b6;
  border-radius: 15px;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0px 14px 20px 14px;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 520px) {
  .developer-container {
    align-content: center;
    border-bottom: solid 4px #73c6b6;
    border-left: solid 4px #73c6b6;
    border-right: solid 4px #73c6b6;
    border-top: solid 4px #73c6b6;
    border-radius: 15px;
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px 14px 20px 14px;
  }
}

.developer-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 750px以下、モバイル用。 */
@media screen and (max-width: 520px) {
  .developer-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 0px;
    width: 80%;
  }
}

/* 顔写真のとこ */
.developer-avatar {
  align-content: center;
  align-items: center;
  background: #73c6b6;
  border-radius: 50%;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 70px;
  justify-content: center;
  width: 70px;
  margin: 10px;
}

.developer-status {
  padding-left: 10%;
}

div.developer-name>p {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0px 5px 0px;
}

div.developer-introduction>p {
  font-size: 12px;
  line-height: 1.8;
}

div.developer-introduction>a {
  font-size: 12px;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 20px 0px 40px 0px;
}

div.contact>a {
  font-size: 14px;
}

.footer-container {
  min-height: 14vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 6px;
  /*←footerの高さ*/
  box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
  background-color: #73c6b6;
}

footer {
  width: 100%;
  background-color: #89c7de;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  /*←絶対位置*/
  top: 5.5vh;
  /* 下に固定 */
}

div.footer-links>a {
  font-size: 14px;
}

/* 480px以下、モバイル用。 */
@media screen and (max-width: 750px) {
  div.footer-links>a {
    font-size: 12px;
  }
}

/* したはいらない */

.function-description {
  flex-direction: column;
}

.function-description-text {
  align-content: center;
}

blockquote {
  background: #ffe5e5;
  font-size: 12px;
}